header {
    background-image: url(../assets/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
    margin-left: 8%;
}

.header-cases {
    flex-direction: column;
}

.cases {
    padding: 4% 2%;
    margin-left: 8%;
    height: 71vh;
    background-color: #111111;
}

.case__container {
    max-width: 70%;
    width: 100%;
}


.cases__row {
    flex-direction: row;
    flex-wrap: wrap;
}

.cases__col {
    max-width: 25%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.cases__headline {
    font-size: 25px;
    line-height: 29px;
    position: absolute;
    top: 16px;
    left: 16px;
    text-transform: uppercase;
}

.cases__vrt {
    position: absolute;
    margin: 0%;
    bottom: 16px;
    left: 16px;
}

.img-cases:hover {
    filter:grayscale(90%);
    transition:transform .3s;
    transform:scale(1.02)
}

.cases__info {
    position: absolute;
    max-width: 750px;
    z-index: 1;
    background-color: #161616;
    padding: 3% 4% 4% 4%;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.6);
    border-radius: 10px;
}

.close {
    display: flex;
    align-self: flex-end !important;

}




@media screen and (max-width: 800px) {
    .case__container {
        max-width: 80%;
    }
    
    .cases__col {
        max-width: 50%;
        width: 100%;
        position: relative;
    }

    .cases__headline {
        font-size: 18px;
        line-height: 22px;
    }

    .cases__info {
        max-width: 350px;
        
    }
    .cases__headline {
        left: 10px;
    }

    .cases__vrt {
        left: 8px;
    }
    

}

